.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;

  input {
    border: 2px solid #eee;
    border-radius:10px;
    padding: 6px;
  }

  input:focus{
    outline:none;
    border: 2px solid #aaa;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

  .panel-title{
    text-align: center;
  }

  .panel-heading{
    padding-bottom: 50px;
    padding-top: 80px;
  }

  .row {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .vertical-center{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-submit {
    background-color: #006aba;
  }

  .button-submit:focus, .button-submit:active{
    box-shadow: 2px 4px 10px 4px #006aba;
  }
}
