<div class="container" routerLink="{{offer.id}}">
  <div class="offer-box">
    <div class="offer-img">
      <img src="{{loadImage()}}" alt="">
      <div class="price">
        <p> &#36;{{offer.dailyRate}}</p>
      </div>
      <ngb-rating class="rating" [max]="5" [(rate)]="starRating" [readonly]="true">
      </ngb-rating>
    </div>
    <div class="offer-details">
      <h4>{{offer.title}}</h4>
      <span class="description">{{offer.description.slice(0, 200)}}...</span>
    </div>
  </div>
</div>
