<div class="container">
  <section>

    <div class="panel-heading">
      <h3 class="panel-title"><strong>New Rental Offer</strong></h3>
      <hr>
    </div>

    <div class="panel-body">
      <form [formGroup]="rentalForm">

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <input class="form-control" formControlName="title" placeholder=" Title" type="text">
              </label>
              <div *ngIf="submitted && getFromForm.title.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Tittle required
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <textarea class="form-control" formControlName="description" placeholder=" Description" rows="6"
                          wrap="soft"></textarea>
              </label>
              <div *ngIf="submitted && getFromForm.description.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Description required
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <input class="form-control" formControlName="address" placeholder=" Address" type="text">
              </label>
              <div *ngIf="submitted && getFromForm.address.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Address required
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <input [matAutocomplete]="auto"
                       class="form-control"
                       formControlName="city"
                       placeholder=" City"
                       type="text">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let city of filteredCity | async" [value]="city">{{city}}</mat-option>
                </mat-autocomplete>
              </label>
              <div *ngIf="submitted && getFromForm.city.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>City required
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <select class="form-control" formControlName="category">
                  <option disabled hidden selected value="">--Please choose an option--</option>
                  <option *ngFor="let category of categories" [ngValue]="category">
                    {{ category.toString().toLowerCase() }}
                  </option>
                </select>
              </label>
              <div *ngIf="submitted && getFromForm.category.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Please choose an option
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <input class="form-control" formControlName="bedrooms" placeholder=" Bedrooms" type="text">
              </label>
              <div *ngIf="submitted && getFromForm.bedrooms.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Bedrooms required
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <input class="form-control" formControlName="guests" placeholder=" Number Of Guests" type="text">
              </label>
              <div *ngIf="submitted && getFromForm.guests.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Number of guests required
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>
                <input class="form-control" formControlName="dailyRate" placeholder=" Daily Rate" type="text">
              </label>
              <div *ngIf="submitted && getFromForm.dailyRate.invalid" class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#"></a>Daily rate required
              </div>
            </div>
          </div>

        </div>

      </form>

      <div class="upload-file-part">
        <div class="row">

          <div class="upload-btn-wrapper vertical-center col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <button class="btn">Upload a files</button>
            <input (change)="selectFile($event)" type="file" name="files[]" multiple>
          </div>

          <div class="preview-images col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <img (dblclick)="deleteImageFromSelected(url.key)" *ngFor="let url of urls | keyvalue" [src]="url.value"
                 alt="" class="image">
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="vertical-center">
    <button (click)="submit()" class="btn btn-primary button-submit col-xs-12 col-sm-12 col-md-4"
            type="submit">
      <span> Create </span>
    </button>
  </div>
</div>
