.navbar {
  padding: 1.5em 0 2.5em 0;

  .navbar-nav {
    .navButton {
      margin: 0.4em 0.5em 0.4em 0.5em;
      width: 100%;

      i{
        color: #818180;
      }
    }

    .navButton:focus, .navButton:active{
      box-shadow: 2px 4px 10px 4px #818180;
    }
  }
}
